{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Willkommen, {{ username | capitalize }}</h1>
    {% endif %}

    {% if user_ip %}
        <h3></h3>
    {% else %}
        <a href="{{ url_for('index') }}">To Start</a>
    {% endif %}

    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
        {% endfor %}
    </ul>
{% endblock %}
