<!--<nav>-->
    <!--<ul>-->
        <!--<img src="{{ url_for('static', filename='images/platzi.png')}}" alt="Platzi Logo">-->
        <!--<li><a href="{{ url_for('index') }}">Ir a inicio</a></li>-->
        <!--<li><a href="https://platzi.com" target="_blank">Ir a Platzi</a></li>-->
    <!--</ul>-->
<!--</nav>-->

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/ktbl-logo.png') }}"
                     style="max-width: 50px"
                     alt="KTBL logo">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
                <li><a href="{{ url_for('index') }}">Start</a></li>
                <li><a href="https://platzi.com" target="_blank">API</a></li>
            </ul>
        </div>
    </div>
</div>