{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }}
    Signup
{% endblock %}

{% block content %}
    <h1>Signup new User</h1>

    <div class="container">
        {{ wtf.quick_form(signup_form) }}
    </div>
{% endblock %}