html * {
  font-family: sans-serif;
  #color: #191970;
}
btn-default,
.btn-default {
  background-color: #36383a;;
  border: none;
}


p,
.p{
font-style: italic;
color: #191970;
}

h6,
.h6{
  color:#36383a;
  color: #0000;
  padding-top: 50px;
  padding-left: 50px;
}

#section_name{
  padding-top: 50px;
  background-image: url('../images/photo2.jpg');
  padding-bottom: 20px;
  text-align: center;
}

#submit{
  height:30px;
  width:100%;
  color: white;
  
}

.header_name img{
  height: 400px;
  opacity: 0.5;
}

.newtask{
  padding-bottom: 50px;
  width: 40%;
  
}

