{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}
    {% if username %}
        <div class="container" >
            <div class="row">
                 <h3>Welcome {{ username | capitalize }}</h3>
            </div>
            <div class="row">
                <ul>
                    <li><a href="{{ url_for('checkfile') }}"><b>check files</b></a></li>
                    <li><a href="{{ url_for('Init') }}"><b>load data in database</b><i> (...in work)</i></a></li>

                </ul>
            </div>



        </div>
    {% endif %}



{% endblock %}
