{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    home
{% endblock %}

{% block content %}
    {% if username %}
        <div class="container" style="margin-top: 200px;" >
            <div class="row">
                 <h4>Welcome {{ username | capitalize }}</h4>
            </div>
            <div class="row">
                 <ul>
                    {% for todo in todos %}
                        <li><a href="{{ url_for('checkfile') }}"><b>{{ todo }}</b></a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    {% endif %}
{% endblock %}
