
<!-- <div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='') }}"
                   style="max-width: 20px"
                   alt="logo">
          </a>
      </div> -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/ktbl-logo.png') }}"
                         style="max-width: 80px"
                         alt="task logo">
                </a>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <h6>backend - Tools</h6>
                </a>
            </div>
            
      <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                     <li><a href="{{ url_for('Init') }}" target="_blank"><b>home</b></a></li>
                  {% endif %}

            {% if current_user.is_authenticated %}
                  <li><a href="https://platzi.com" target="_blank"><b>API</b></a></li>
                  <li><a href="https://platzi.com" target="_blank"><b>Documents</b></a></li>
                  <li><a href="{{ url_for('auth.logout') }}"><b>LOGOUT</b></a></li>
            {% else %}
                <li><a href="{{ url_for('auth.signup') }}"><b>SIGNUP</b></a></li>
            {% endif %}
          </ul>

      </div>
  </div>
</div>