{% extends 'base.html' %}
{% block title %}
    {{ super() }}
    checkfiles
{% endblock %}

{% block content %}

        <div class="container" >
            <div class="row">
                <p>
                <h5><b>Directory: </b>{{ path }}</h5>
                <h5><b>Folgende Files wurden gefunden: </b></h5>
                </p>

            </div>
            <div class="row">
                <ul style="list-style-type: none;">
                    <h5>Geprüft werden Instanz- und Strukturtabellen</h5>

                </ul>
            </div>
        </div>
{% endblock %}
